
<div class="content">
    <div class="window">
        <h1 class="page-title">Browse Various Dishes</h1>

        <!--will pass in a JSON object of dishes-->
        <h2 class="subtitle">Most Recent Dishes</h2>
        <table>
            <thead>
                <tr>Dish</tr>
                <tr>Contact</tr>
                <tr>Price</tr>
                <tr>Location</tr>
                <tr>Description</tr>
            </thead>
            <tbody>
                <% for (var key in meals){ %>
                    <tr>
                        <td><%= meals[key].dish %></td>
                        <td><%= meals[key].phone %></td>
                        <td><%= meals[key].price %></td>
                        <td><%= meals[key].location %></td>
                        <td><%= meals[key].description %></td>
                    </tr>
                <% } %>
            </tbody>
            
        </table>
    </div>
</div>